.adl{
    height: 100vh;
    display: flex;
    width: 100%;
    background-color: bisque;
    padding-top: 70px;
}
.accordian{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
}
.acc{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.acc-title{
    display: flex;
    width: 90vw;
    font-weight: 700;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.acc-content{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    text-align: center;
    height: auto;
    width: 90vw;
}
@media screen and (max-width : 700px) {

    .acc-content{
        display: flex;
        flex-direction: column;
    }
}