.skills{
    height: 100vh;
    display: flex;
    width: 100%;
}
.skills-left{
    padding-top: 70px;
    flex: 1 ;
    background-color: rgb(0, 86, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills-right{
    padding-top: 100px;
    flex: 1;
    background-color: rgb(255, 255, 255);
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3vw;
}
.content{
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 80% 20%;
    padding: 1.4vw;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    cursor:pointer;
    word-wrap: break-word;
}
.content:hover{
    background-color: rgb(0, 65, 83);
    color: aliceblue;
}
.content>div:nth-child(1){
    display: grid;
}
.content>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}
.content>div>span:nth-child(1){
    font-weight: bold;
}
.react{
    color: rgb(0, 217, 255);
}
.vdo{
    color: rgb(254, 93, 0);
}
.ps{
    color: rgb(4, 0, 225);
}
.html{
    color: rgb(209, 45, 0);
}
.mf{
    color: rgb(218, 189, 0);
}
.right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.down-arrow{
    font-size: 3vw;
    color: #003572;
    animation: arrow 2s infinite;
}
@keyframes arrow {
    from {opacity: 0;}
    to {opacity: 1;}
}
.right-content{
    background-color: rgb(0, 65, 83);
    display: grid;
    text-align: center;
    color: aliceblue;
    border-radius: 2vw;
    box-shadow: 4px 4px 7px rgba(132, 132, 132, 0.584)
}
.right-content>img{
    background-color: aliceblue;
}
.right-content>span:nth-child(1){
    padding: 1em;
    font-weight: bold;
}
.right-content>span:nth-child(3){
    padding: 1em;
    font-weight: bold;
}
.right-content>span:nth-child(4){
    background-color: rgb(213, 213, 213);
    padding: 1em;
    color: rgb(0, 65, 83);
    font-weight: bold;
}

.card {
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 50%;
  }
  .card-header img {
    width: 100%;
    height: 14vw;
    object-fit: cover;
  }
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    min-height: 15vw;
    text-align: center;
  }
.card-body h4{
    margin: 2em 0;
    font-size: 1.3vw;
}
.tag {
    font-size: 1em;
    color: #fff;
    padding: 0.5vw ;
    text-transform: uppercase;
    background-color: rgb(0, 164, 41);
    border-radius: 5px;
}

.card-body p {
    font-size: 1vw;
    margin-bottom: 1vw;
}
.user {
    display: grid;
    grid-template-columns: 40% 50%;
    align-items: center;
}
.loc{
      font-size: 20px;
      color: rgb(255, 55, 0);
      animation: loc 4s infinite linear;
  }
  @keyframes loc{
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  .user-info small {
    align-items: center;
    color: #545d7a;
  }

@media screen and (max-width : 700px) {
    .skills{
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .skills-right{
        padding-top: 10%;
        flex: 1;
        background-color: rgb(255, 255, 255);
    }
    .content{
        display: flex;
        margin: 2vw;
        justify-content: space-between;
        padding: 1vw;
        background-color: aliceblue;
        border-radius: 1vw;
    }
    .container{
        height: 100%;
        display: grid;
        padding: 2vw;
        grid-template-columns: 50% 50%;
    }
    .content>div:nth-child(2){
        font-size: 6vw;
        padding-right: 1vw;
    }
    .content>div>span:nth-child(2){
        font-size: 3vw;
    }
    .card {
        width: 60%;

      }
      .card-body p {
        font-size: 0.5em;
        margin: 0 0 4vw;
      }
      .tag {
        font-size: 0.5em;
        color: #fff;
    }
    .card-body h4{
        margin: 2em 0;
        font-size: 3vw;
    }
    .right-container{
        justify-content: space-between;
    }
    .right-container{
        align-items: center;
        justify-content: space-around;
    }
    
}